nav.navbar.navbar-default(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle(data-toggle="collapse", data-target="#navbar-top-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#{baseUrl}/")
                img(src="#{baseUrl}/img/angular-shield-small.png")
                | Growl notifications for AngularJS

        .collapse.navbar-collapse#navbar-top-collapse-1
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#{baseUrl}/docs") Documentation
                li
                    a(href="#{baseUrl}/examples") Examples
                li
                    a(href="#{baseUrl}/showcase") Showcase
