meta(charset='utf8')
title= name
link(rel='stylesheet', href='#{baseUrl}/css/global.css')
link(rel='stylesheet', href='#{baseUrl}/css/themes/v2/theme.css')
link(rel='stylesheet', href='#{baseUrl}/css/themes/v2/prism-coy.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400|Source+Code+Pro')
script(src='#{baseUrl}/js/jquery/jquery.min.js')
script(src='#{baseUrl}/js/bootstrap/bootstrap.js')
script(src='#{baseUrl}/js/prism/prism.js')
script(src='#{baseUrl}/js/angular/angular.js')
script(src='#{baseUrl}/js/angular-animate/angular-animate.js')
script(src='#{baseUrl}/js/angular-growl-notifications/dist/angular-growl-notifications.js')
script(src='#{baseUrl}/js/app.js')

