ul.nav.nav-pills.nav-stacked.nav-docs
    li(class="#{ current.source == 'index' ? 'active' : '' }")
        a(href="#{baseUrl}/docs/index") Quick start
    li
        h1 Directives
    li(class="#{ current.source == 'growl-notifications' ? 'active' : '' }")
        a(href="#{baseUrl}/docs/directives/growl-notifications") growl-notifications
    li(class="#{ current.source == 'growl-notification' ? 'active' : '' }")
        a(href="#{baseUrl}/docs/directives/growl-notification") growl-notification
    li
        h1 Links
    li
        a(href="https://github.com/jvandemo/angular-growl-notifications") Github repository