ul.nav.nav-pills.nav-stacked.nav-docs
    li(class="#{ current.source == 'installation' ? 'active' : '' }")
        a(href="#{baseUrl}/docs/installation") Installation
    li
        h1 Directives
    li(class="#{ current.source == 'growl-notifications' ? 'active' : '' }")
        a(href="#{baseUrl}/docs/directives/growl-notifications") growl-notifications
    li(class="#{ current.source == 'growl-notification' ? 'active' : '' }")
        a(href="#{baseUrl}/docs/directives/growl-notification") growl-notification
    li
        h1 Links
    li
        a(href="https://github.com/jvandemo/hb-bootstrap") Github repository
    li
        a(href="http://harpjs.com") Harp website