ul.nav.nav-pills.nav-stacked.nav-docs
    li(class="#{ current.source == 'index' ? 'active' : '' }")
        a(href="#{baseUrl}/examples/index") Basic example
    li
        h1 Examples
    li(class="#{ current.source == 'close-link' ? 'active' : '' }")
        a(href="#{baseUrl}/examples/close-link") How to add a close link to a notification
    li(class="#{ current.source == 'fading-animation' ? 'active' : '' }")
        a(href="#{baseUrl}/examples/fading-animation") How to fade in and out notifications
    li(class="#{ current.source == 'dynamically-add-notifications' ? 'active' : '' }")
        a(href="#{baseUrl}/examples/dynamically-add-notifications") How to dynamically add notifications